/* body {
  background-image: url("../images/bg-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.dropdown-toggle::after {
  content: none;
}

.custom-shadow {
  box-shadow: 5px 5px 25px 19px #000000;
}

.product_id {
  color: gray;
  font-size: 15px;
}

.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 2px 2px 15px 9px #000000;
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
} */

body {

  /* Жемчужное полотно */
  background-image: url("/media/goods_images/bg-image6.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
  
  /* Оставляем жемчужный цвет как запасной (пока грузится картинка) */
  background-color: #FAF9F6; 
  
  color: #333333;
  height: 100%;
}

.dropdown-toggle::after {
  content: none;
}

.custom-shadow {
  box-shadow: 5px 5px 25px 10px #5A3D30;
}

.product_id {
  color: gray;
  font-size: 15px;
}

.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 2px 2px 15px 9px #000000;
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
}

.btn-outline-success {
  color: #C5A059 !important; 
  border-color: #C5A059 !important;
}

.btn-outline-success:hover {
  background-color: #C5A059 !important;
  color: #ffffff !important;
  border-color: #C5A059 !important;
}

.navbar .nav-link:hover, 
.navbar-brand:hover {
  color: #C5A059 !important;
  transition: color 0.3s ease;
}

.dropdown-menu {
  border-color: #FAF9F6 !important;
}

.dropdown-item:hover {
  background-color: #FAF9F6 !important;
  color: #C5A059 !important;
}

.footer-link {
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #C5A059 !important; 
}