{% load static %}
{% load goods_tags %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "deps/css/bootstrap/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "deps/css/my_css.css" %}">
    
        {% block css %}

        {% endblock %}
    
        <link rel="apple-touch-icon" sizes="180x180" href="{% static "deps/favicon/apple-touch-icon.png" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "deps/favicon/favicon-32x32.png" %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "deps/favicon/favicon-16x16.png" %}">
        <link rel="manifest" href="{% static "deps/favicon/site.webmanifest" %}">
        <title>{{ title }}</title>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
                <div class="container">
                    <a class="navbar-brand text-gold fs-5 fst-italic fw-light" href="{% url "main:index" %}">Тепло в деталях</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Каталог
                            </a>
                            <ul class="dropdown-menu bg-dark" data-bs-theme="dark">
                                {% tag_categories as categories %}
                                {% for category in categories %}
                                <li><a class="dropdown-item text-white" href="{% url "catalog:index" category.slug %}">{{category.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#" data-bs-toggle="modal" data-bs-target="#cartModal">Корзина</a>
                        </li>
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Информация
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item  text-white" href="{% url "main:contacts" %}">Контактная информация</a></li>
                                    <li><a class="dropdown-item  text-white" href="{% url "main:about" %}">Про нас</a></li>
                                </ul>
                            </li>
                            {% if not user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link  text-white" href="{% url "user:login" %}">Войти</a>
                                </li>
                            {% else %}
                                <li class="nav-item dropdown ">
                                    <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Мой профиль
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item  text-white" href="{% url "user:profile" %}">Личный кабинет</a>
                                        </li>
                                        {% if user.is_admin or user.is_staff %}
                                            <li><a class="dropdown-item  text-white" href="{% url "admin:index" %}">Админ панель</a></li>
                                        {% endif %}
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item  text-white" href="{% url "user:logout" %}">Выйти</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                        <form class="d-flex" role="search" action="{% url "catalog:search" %}" method="get">
                            <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success text-white" type="submit">Поиск</button>
                        </form>
                    </div>
                </div>
            </nav>
        </header>
            <!-- Контент -->
            <div class="container">
                <div class="row mt-1">
                    <div class="col-lg-2">
                        <!-- Пустой блок -->
                    </div>
                    <div class="col-lg-10">
                        <!-- Контент на странице -->
                        {% include "includes/notifications.html" %}
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </section>

        <!-- Модальное окно -->
        <div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content border-0 custom-shadow" style="background-color: #FAF9F6;">
                    
                    <div class="modal-header border-0">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    
                    <div class="modal-body text-center pb-5 px-4">
                        <div class="fs-1 mb-3">🛠️</div>
                        <h3 class="mb-3 text-brown" style="font-family: 'Georgia', serif;">Раздел в разработке</h3>
                        
                        <p class="text-muted" style="line-height: 1.6;">
                            Полноценная корзина совсем скоро появится на нашем сайте! <br><br>
                            А пока, чтобы оформить заказ, пожалуйста, напишите нам на почту:<br>
                            <a href="mailto:info@teplovdetalyah.ru" class="fw-bold text-gold text-decoration-none fs-5 d-block mt-2">
                                info@teplovdetalyah.ru
                            </a>
                        </p>
                        
                        <button type="button" class="btn btn-gold mt-4 px-4 py-2" data-bs-dismiss="modal">
                            Понятно, спасибо!
                        </button>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Конец модального окно -->


        {% block footer %}{% endblock %}

        <script src="{% static "deps/js/jquery/jquery-3.7.0.min.js" %}"></script>
        <script src="{% static "deps/js/jquery-events.js" %}"></script>
        <script src="{% static "deps/js/jquery-ajax.js" %}"></script>
        <script src="{% static "deps/js/bootstrap/bootstrap.bundle.min.js" %}"></script>
    </body>

</html>